{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": false,
        "printWidth": 100
      }
    ],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "plugins": ["prettier"],
  "env": {
    "jest": true
  }
}
